<template>
  <div>
    <h2>Gestion personne</h2>
    <sui-table celled>
      <sui-table-header>
        <sui-table-row>
          <sui-table-header-cell>Nom</sui-table-header-cell>
          <sui-table-header-cell>Groupe</sui-table-header-cell>
        </sui-table-row>
      </sui-table-header>

      <sui-table-body>
        <sui-table-row v-for="user in users" v-bind:key="user.id">
          <sui-table-cell class="name">
            <span>{{user.name}}</span>
            <router-link :to="{name: 'singlepersonne', params: {id: user.id}}"><i class="search icon"></i></router-link>
          </sui-table-cell>
          <sui-table-cell>{{user.website}}</sui-table-cell>
        </sui-table-row>

      </sui-table-body>

      <sui-table-footer>
        <sui-table-row>
          <sui-table-header-cell colspan="3">
            <sui-menu pagination>
              <a is="sui-menu-item" icon>
                <sui-icon name="left chevron" />
              </a>
              <a is="sui-menu-item" v-for="n in pageNumber" :class="{active: page === n}">{{n}}</a>
              <a is="sui-menu-item" icon>
                <sui-icon name="right chevron" />
              </a>
            </sui-menu>
          </sui-table-header-cell>
        </sui-table-row>
      </sui-table-footer>
    </sui-table>
  </div>
</template>

<script>
export default {
  name: "Personne",
  data () {
    return {
      users: [],
      page: 2,
      limit: 3
    }
  },
  mounted() {
    this.getuser(this.page, this.limit);
    console.log("coucou")
    console.log(this.getNbMaxUser())
    console.log(this.limit)

  },
  methods:{
    getuser: function (page, limit) {
      this.page = page;
      this.limit = limit;
      this.$http.get(`https://jsonplaceholder.typicode.com/users/?_page=${page}&_limit=${limit}`).then((response) => {
        this.users = response.data
        console.log(response)
      }, (response) => {
        console.error(response)
      })
    },
    getNbMaxUser: () => {
      return 10
    },
  },
  computed: {
    pageNumber: function () {
      return Math.ceil(this.getNbMaxUser()/this.limit)
    }
  }
}
</script>

<style scoped>

.name {
  display: flex;
  justify-content: space-between;

}
.search.icon {
  margin-left: 5px;
}
</style>
