<template>
  <div>
    <h2>{{id}}</h2>
  </div>
</template>

<script>
export default {
  name: "SinglePersonne",
  data () {
    return {
      id:  this.$route.params.id
    }
  }
}
</script>

<style scoped>

</style>
