<template>
  <div id="app">
    <h1>Easy Group</h1>
    <nav>
      <router-link to="/">Accueil</router-link>
      <router-link to="/groupe">Gestion groupes</router-link>
      <router-link to="/personne">Gestion personnes</router-link>
    </nav>
    <router-view/>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
#app {
  display: flex;
  align-items: center;
  flex-direction: column;
}
</style>
